.sign-in-page input {
    padding: 10px;
    border: 2px solid cadetblue;
    max-width: 80%;
    width: 20rem;
    height: 2.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.sign-in-page button {
    border: 0;
    max-width: 80%;
    width: 20rem;
    height: 2.5rem;
    background-color: lawngreen;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.sign-in-page button:hover {
    transform: scale(1.01);
}

.sign-in-page button:active {
    transform: scale(0.99);
}